
        <div class="register-content">
            <label class="black-caps">USD @ViewBag.USD</label>
            <br />
            <label class="black-caps">EUR @ViewBag.EUR</label>
        </div>
